{% extends "base.html" %}

{% block title %}Schedule Waste Collection{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}">
{% endblock %}

{% block content %}
    <h1>Schedule Waste Collection</h1>
    <form action="{{ url_for('/wastecollection') }}" method="post">
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="user_name" required><br><br>

        <label for="collection_date">Collection Date:</label>
        <input type="date" id="collection_date" name="collection_date" required><br><br>

        <label for="waste_type">Waste Type:</label>
        <select id="waste_type" name="waste_type" required>
            <option value="none"></option>
            <option value="recyclable">Recyclable</option>
            <option value="non_recyclable">Non-Recyclable</option>
            <option value="general">General</option>
        </select><br><br>

        <input type="submit" value="Schedule">
    </form>
{% endblock %}
