{% extends "base.html" %}

{% block title %}Update Waste Collection{% endblock %}

{% block content %}
    <h1>Update Waste Collection</h1>
    {% include 'navbar.html' %}
    <form id="updateForm" action="/update-schedule" method="post">
        <label for="schedule_id">Schedule ID:</label>
        <input type="text" id="schedule_id" name="schedule_id" required><br><br>
    
        <label for="collection_date">New Collection Date:</label>
        <input type="date" id="collection_date" name="collection_date" required min="{{ today }}"><br><br>
    
        <label for="waste_type">New Waste Type:</label>
        <select id="waste_type" name="waste_type" required>
            <option value="none"></option>
            <option value="recyclable">Recyclable</option>
            <option value="non_recyclable">Non-Recyclable</option>
            <option value="general">General</option>
        </select><br><br>
    
        <input type="submit" value="Update">
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.getElementById('updateForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission
            
            const scheduleId = document.getElementById('schedule_id').value;
            const collectionDate = document.getElementById('collection_date').value;
            const wasteType = document.getElementById('waste_type').value;
            
            const data = {
                schedule_id: scheduleId,
                collection_date: collectionDate,
                waste_type: wasteType
            };

            try {
                const response = await fetch(`{{ url_for('update_schedule') }}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    const result = await response.json();
                    alert('Success: ' + JSON.stringify(result));
                } else {
                    const error = await response.json();
                    alert('Error: ' + error.message);
                }
            } catch (error) {
                alert('Error: ' + error);
            }
        });
    </script>
{% endblock %}
