<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Waste Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Update Waste Collection</h1>
    <form action="{{ url_for('api.update_schedule') }}" method="post">
        <label for="schedule_id">Schedule ID:</label>
        <input type="text" id="schedule_id" name="schedule_id" required><br><br>

        <label for="collection_date">New Collection Date:</label>
        <input type="date" id="collection_date" name="collection_date" required><br><br>

        <label for="waste_type">New Waste Type:</label>
        <select id="waste_type" name="waste_type" required>
            <option value="none"></option>
            <option value="recyclable">Recyclable</option>
            <option value="non_recyclable">Non-Recyclable</option>
            <option value="general">General</option>
        </select><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
